header {
    height: fit-content;
    background-color: #333;
}

h1 {
    color: #333;
}

p {
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/*********Feedback*********/
input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
}

input[type=submit]:hover {
    cursor: pointer;
}

form input{
    border: 1px solid rgb(0, 0, 0);
}

input[type=submit] {
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}


/**********Navbar**********/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 10px;
}

.nav-links a {
    text-decoration: none;
    padding: 5px;
}

/*********Content Cards*********/
.all {
    text-align: center;
}

.cards {
    width: 32vh;
    margin: 40px;
    display: inline-block;
}

.image img {
    width: 100%;
    height: 15vw;
    position: relative;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2 {
    text-align: center;
}

.content {
    text-align: center;
    padding: 4px;
}

button {
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: rgb(255, 166, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
}


button:hover {
    background-color: rgb(255, 166, 0);
    transition: .5s;
    cursor: pointer;
}

/**********Footer**********/
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content p {
    margin: 0;
}

.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #333;
}

/**********Search bar**********/
.search-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15px;
}



.search-bar input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
    width: 250px;
}

.search-bar button {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
}

/***pics***/
.image {
    position: relative;
    overflow: hidden;
}

.image img {
    transition: transform 0.3s ease;
}

.image:hover img {
    transform: scale(1.1);
}